# Ignore unnecessary files
.git

# Dependency directories
node_modules/
jspm_packages/
core/node_modules/

# Snowpack dependency directory (https://snowpack.dev/)
web_modules/

# Optional npm cache directory
.npm

# python venv
venv

# Logs and temp
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*
*.tmp

# vscod
.vscode
.vs

# secret env variables file
.env

# models
*.h5
*.keras
insights/artifacts/*

# Ignore Python cache files
__pycache__/

# Ignore SQLite db's, to be created in dockerfile
sqlite/*.db